.bi{
    cursor: pointer;
    
}
.flex{
    display: flex;
    justify-content: space-around;
    
}
.soldi button{
    margin-top: 0rem;
}
.telefono{
    border: 1px solid black;
    width: 200px;
    height:400px;
    box-sizing: border-box;
    border-radius: 2%;
    box-shadow: 2px 5px 10px black;
    /* padding: 1rem; */
    
    
    
}
.telefono div {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 33%;
    margin: 0 auto;
    
    
    
}
.telefono .navbar {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    background-color:rgb(57, 53, 53); 
    color: rgb(240, 240, 240);
    padding: 0.5rem;
    
}
.telefono .footer{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 0;
    color: rgb(246, 247, 248);
    
}
button{
    cursor: pointer;
    background-color: rgb(57, 53, 53);
    border: 1px solid rgb(75, 70, 70);
    color: rgb(240, 240, 240);
    border-radius: 10%;
    width: 50%;
    text-align: center;
}
button:hover{
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(75, 70, 70);
    color: rgb(57, 53, 53);

}
